In [8]:
import pandas as pd
import csv

In [9]:
path = "../../data/raw/amzn.csv"
df = pd.read_csv(path)
df.head()

        Date     Monday    Tuesday   Wednesday    Thursday      Friday
0   3/2/2020  97.697502  95.449501   98.791496     96.2015   95.054497
1   3/9/2020  90.030502  94.591003   91.042999   83.830498       89.25
2  3/16/2020  84.457497  90.391998   91.500000   94.046501   92.304497
3  3/23/2020  95.141502  97.004997   94.292000   97.774498   95.004997
4  3/30/2020  98.197502  97.486000   95.385002   95.941498   95.329498

In [10]:
 with open(path, newline='') as file:
    reader = csv.reader(file)
    # skip header row
    next(reader, None)
    # append list of strings into list
    data = []
    for row in reader:
        data.append(row)

In [26]:
data

[['3/2/2020',
  ' 97.697502',
  ' 95.449501',
  ' 98.791496',
  ' 96.2015',
  ' 95.054497'],
 ['3/9/2020',
  ' 90.030502',
  ' 94.591003',
  ' 91.042999',
  ' 83.830498',
  ' 89.25'],
 ['3/16/2020',
  ' 84.457497',
  ' 90.391998',
  ' 91.5',
  ' 94.046501',
  ' 92.304497'],
 ['3/23/2020',
  ' 95.141502',
  ' 97.004997',
  ' 94.292',
  ' 97.774498',
  ' 95.004997'],
 ['3/30/2020',
  ' 98.197502',
  ' 97.486',
  ' 95.385002',
  ' 95.941498',
  ' 95.329498'],
 ['4/6/2020', ' 99.879501', ' 100.580002', ' 102.150002', ' 102.138', ' '],
 ['4/13/2020',
  ' 108.443497',
  ' 114.166',
  ' 115.384003',
  ' 120.4095',
  ' 118.75'],
 ['4/20/2020',
  ' 119.680496',
  ' 116.405998',
  ' 118.1745',
  ' 119.972504',
  ' 120.511002'],
 ['4/27/2020', ' 118.800003', ' 115.704002', ' 118.635498', ' ', '']]

In [34]:
average_values = []
for row in data:
    convert_value_to_float = []
    for value in row:
        if value != "" and  value.strip().replace(".", "").isdigit():  # Check if it's not empty and is a valid number
            print(value)
            convert_value_to_float.append(float(value))
    
      # Calculate the average and round it to the nearest 3rd decimal place
    if converted_values_to_float:
        average = round(sum(converted_values_to_float) / len(converted_values_to_float), 3)
        average_values.append(average)

 97.697502
 95.449501
 98.791496
 96.2015
 95.054497
 90.030502
 94.591003
 91.042999
 83.830498
 89.25
 84.457497
 90.391998
 91.5
 94.046501
 92.304497
 95.141502
 97.004997
 94.292
 97.774498
 95.004997
 98.197502
 97.486
 95.385002
 95.941498
 95.329498
 99.879501
 100.580002
 102.150002
 102.138
 108.443497
 114.166
 115.384003
 120.4095
 118.75
 119.680496
 116.405998
 118.1745
 119.972504
 120.511002
 118.800003
 115.704002
 118.635498

In [28]:
convert_value_to_float

[118.800003, 115.704002, 118.635498]

In [35]:
convert_value_to_float

[118.800003, 115.704002, 118.635498]